.row {
  width: 100%;
}

.row > div {
  border: 2px solid red;
  background-color: gray;
}

@media (max-width:767px) {  /*mobile*/
	

}


@media(min-width:768px) and (max-width:991px){ /*tablet*/
	

}

@media(min-width:992px){ /*desktop*/
	

}